<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="cupcakes">
    <ul></ul>
    </div>
    <form id="form">
        <label for="image">Image:</label>
        <input type="text" id="image" name="image">
        <label for="flavor">Flavor:</label>
        <input id="flavor" type="text" name="flavor">
        <label for="size">Size:</label>
        <input id="size" type="text" name="size">
        <label for="rating">Rating:</label>
        <select class="rating"></select>
        <input type="submit" value="Add">
    </form>
        
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="static/index.js" type="text/javascript"></script>
</body>
</html>